html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F4F4F4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.header {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 18px;
  position: fixed;
  top: 0;
  left: 0;
  width: 99%; 
  z-index: 1000;
  height: 70px;
}
.short-text {
  display: none;
}
nav {
  padding: 1px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}
nav li {
  margin: 10px 15px;
}
nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}



.iconn img {
  width: 30px;  /* Хэмжээг багасгах */
  height: 30px;
}

/* delgets */
.container {
  display: flex;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  min-height: 100vh; /* Дэлгэцийн өндөртэй тэнцүү */
  padding-top: 80px; /* Header-ийн доорх зай нэмэх */
}
/* zuun taliin */
.sidebar {
  font-family: "Montserrat";
  width: 560px;
  background: #424242;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1117px;
}
.sidebar h1 {
  font-size: 48px;
  font-weight: bold;
  margin-left: 69px;
  height: 194px;
}
.tolbor_medeelel{
  margin-top: 0%;
}
.sidebar .payment-info {
  font-size: 18px;
  font-weight: bold;
}
.sidebar, .main-content {
  margin-top: 60px; 
}
.zuun_tal_text{
  height: 286px;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 5px;
  padding-left: 69px;
  text-align: justify;
  padding-right: 70px;
}
.zuun_tal_tolbor{
  margin-top: 90px;
  margin-left: 69px;
}
/*baruuntal */
.main-content {
  flex: 1;
  padding: 70px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-content h2 {
  margin-top: -30px;
  font-size: 50px;
  color: #333;
  font-weight: 900;
}

.main-content p {
  margin-top: -35px;
  font-size: 16px;
  color: #666;
  font-weight: 400;
  margin-bottom: 10px;
}

.expense-box {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 20px;
  flex-direction: column;
}
.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 48%;

}
.expense-box label {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #444;
}

.expense-box input {
  top: 255px;
  height: 63px;
  width: 445px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
}
.date-input label{
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.date-fields{
  display: flex;
  align-items: center;
  gap: 5px;
}
.date-fields input {
  width: 80px; /* Өмнө нь 60px байсан, одоо 80px болгож уртасгав */
  padding: 5px; /* Доторх текст сайн харагдахаар бага зэрэг padding нэмэв */
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px; /* Томруулж харагдахаар тохируулсан */
}
.date-fields span{
  font-size: 18px;
}

/* Button heseg */
.main-content footer {
  position: relative;
  width: 100%;
  background: white;
  padding: 15px;
  text-align: right;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  text-align: right;
}
.button-container button a {
  color: rgb(15, 14, 14);
  text-decoration: none;
}
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta svg {
  position: relative;
  top: 0;
  margin-right: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(5px);
  transition: all 0.3s ease;
}
.cta span {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}
.cta:hover:before {
  width: 100%;
  background: #b1dae7;
}
.cta:hover svg {
  transform: translateX(0);
}
.cta:active {
  transform: scale(0.95);
}

/* utsaar oroh uyd*/
@media screen and (max-width: 500px) {
  body{
    font-size: 20%;
  }

  .sidebar {
      display: none;
  }

  .main-content {
      width: 100%;
      padding: 20px; 
  }
  .full-text {
      display: none;
  }
  .short-text {
      display: inline;
  }

  .header {
      height: 60px;
      padding: 10px;
  }
  
  nav li {
      margin: 5px;
  }
  
  nav li a {
      font-size: 12px;
      padding-right: 10px;
  }
  
  nav div {
      font-size: 12px;
  }
  
  .container {
      padding-top: 60px;
  }
  
  .main-content h2 {
      margin-top: 20px;
      font-size: 18px;
  }
  .form-row {
      flex-direction: column; 
      margin-top: -20px;
  }
  .form-group {
      width: 100%; 
      font-size: 10px;
  }
  .expense-box {
      padding-left: 10px;
      padding-right: 10px;
      margin-top: -250px;
  }
  
  .expense-box input {
      height: 50px;
      font-size: 13px;
      margin-top: 10px;
      width: 240px;
  }
  
  .button-container {
      margin-top: -80px;
      margin-right: 40px;
  }
  
  .cta span {
      font-size: 13px;
  }
}
@media screen and (max-width: 600px) {
    body{
        font-size: 20%;
    }

    .sidebar {
        display: none; /* Зүүн талын хэсгийг нууна */
    }

    .main-content {
        width: 100%; /* Гол агуулга дэлгэцийн бүрэн өргөнийг эзэлнэ */
        padding: 20px; /* Хязгаарлагдмал зайд илүү тохиромжтой padding */
    }

    .header {
        height: 60px;
        padding: 10px;
    }
    
    nav li {
        margin: 5px;
    }
    
    nav li a {
        font-size: 12px;
    }
    
    nav div {
        font-size: 12px;
    }
    
    .container {
        padding-top: 60px;
    }
    
    .main-content h2 {
        margin-top: 20px;
        font-size: 18px;
    }
    .form-row {
        flex-direction: column; /* Жижиг дэлгэц дээр input-уудыг босоогоор байрлуулна */
        margin-top: -20px;
    }
    .form-group {
        width: 100%; /* Бүтэн өргөн эзэлнэ */
        font-size: 10px;
    }
    .expense-box {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: -450px;
    }
    
    .expense-box input {
        height: 50px;
        font-size: 13px;
        margin-top: 10px;
        width: 240px;
    }
    
    .button-container {
        margin-top: -80px;
        margin-right: 40px;
    }
    
    .cta span {
        font-size: 13px;
    }
}
@media screen and (max-width: 760px) {
      body{
        font-size: 20%;
        overflow: auto;
    }

    .sidebar {
        display: none; /* Зүүн талын хэсгийг нууна */
    }

    .main-content {
        width: 100%; /* Гол агуулга дэлгэцийн бүрэн өргөнийг эзэлнэ */
        padding: 20px; /* Хязгаарлагдмал зайд илүү тохиромжтой padding */
    }

    .header {
        height: 60px;
        padding: 10px;
    }
    
    nav li {
        margin: 5px;
    }
    
    nav li a {
        font-size: 12px;
        padding-right: 10px;
    }
    
    nav div {
        font-size: 12px;
    }
    
    .container {
        padding-top: 60px;
    }
    
    .main-content h2 {
        margin-top: -10px;
        font-size: 18px;
    }
    .main-content p {
        margin-top: -15px;
        font-size: 14px;
        line-height: 1;
    }
    .ulaan{
        margin-top: 2px;
        font-size: 14px;
    }
    .form-row {
        flex-direction: column; /* Жижиг дэлгэц дээр input-уудыг босоогоор байрлуулна */
        margin-top: -20px;
    }
    .form-group {
        width: 100%; /* Бүтэн өргөн эзэлнэ */
        font-size: 30px;
    }
    .expense-box {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 20px;
    }
    
    .expense-box input {
        height: 50px;
        font-size: 16px;
        margin-top: 10px;
        width: 240px;
    }
    
    .button-container {
        margin-top: -10px;
        margin-right: 40px;
    }
    
    .cta span {
        font-size: 13px;
    }
}


